<!DOCTYPE html>
<html lang="ja">
<head>
<%
    parameters = {
        sitename: 'Reasons',
        title: 'Abstract',
        description: '<code>before</code>疑似要素と<code>css counter</code>を使ってゼロパティングありの自動採番を行うサンプルです。',
        author: 'アルム＝バンド',
        copyright: 2020,
        themecolor: '#DB6640',
        url: 'https://arm-band.github.io/counter_faker/'
    }
%>    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= parameters.title %> - <%= parameters.sitename %></title>
    <meta name="description" content="<%= parameters.description %>">
    <meta name="author" content="<%= parameters.author %>">

    <link href="./apple-touch-icon.png" rel="apple-touch-icon">
    <meta name="theme-color" content="<%= parameters.themecolor %>">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="./css/index.css" rel="stylesheet">
</head>